<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ve.java.core.launcher.JavaBean">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/407/src/com/lzw/ip/CText.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.lzw.ip.CText"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="407"/>
</launchConfiguration>
